@font-face {
    font-family: 'Avenir-LightOblique';
    src: url('../fonts/Avenir-LightOblique.ttf') format('truetype');
}


.ctrl {
    width: 100%;
    position: relative;
}

.notification {
    display: block;
    font-size: 24px;
    width: 380px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 30%;
    margin-left: -90px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    color: red;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 3px 0 rgba(0,0,0,0.2);
    font-family: Avenir-LightOblique;
}

.messageNotification {
    display: block;
    font-size: 24px;
    width: 380px;
    padding: 32px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -90px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #D62159;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 3px 0 rgba(0,0,0,0.2);
    font-family: Avenir-LightOblique;
    opacity: .6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 2001;
}


.animateOpen {
    -webkit-animation: moveOpen 6s;
    /*-webkit-animation-iteration-count: infinite;*/
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    z-index: 2001;
}
/* Safari and Chrome */
@-webkit-keyframes moveOpen {
    from {
        -webkit-transform: translate(0,-1000px);
    }

    10% {
        -webkit-transform: translate(0,20px);
    }

    12% {
        -webkit-transform: translate(0,22px);
    }

    16% {
        -webkit-transform: translate(0,20px);
    }

    80% {
        -webkit-transform: translate(0,20px);
    }

    85% {
        -webkit-transform: translate(0,25px);
    }

    to {
        -webkit-transform: translate(0,-1000px);
    }
}
